@model AeroLinea_Futuro.Models.Empleado

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Seguro que quiere Eliminar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sueldo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sueldo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmpleadoID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">volver</a>
    </form>
</div>
